# Controllers
robot_arm1:

  # Publish all Joint States--------------------------------
  joint_state_controller:
    type: joint_state_controller/JointStateController
    publish_rate: 50

  # Publish Controllers
  joint_1_position_controller:
    type: effort_controllers/JointPositionController
    joint: arm_joint_1
    pid: {p: 1.0, i: 0.0, d: 0.0}

  joint_2_position_controller:
    type: effort_controllers/JointPositionController
    joint: arm_joint_2
    pid: {p: 1.0, i: 0.0, d: 0.0}

  joint_3_position_controller:
    type: effort_controllers/JointPositionController
    joint: arm_joint_3
    pid: {p: 1.0, i: 0.0, d: 0.0}

  head_joint_position_controller:
    type: effort_controllers/JointPositionController
    joint: head_joint
    pid: {p: 1.0, i: 0.0, d: 0.0}

  rgrip_position_controller:
    type: effort_controllers/JointPositionController
    joint: right_grip_joint
    pid: {p: 5.0, i: 0.0, d: 0.0}

  lgrip_position_controller:
    type: effort_controllers/JointPositionController
    joint: left_grip_joint
    pid: {p: 5.0, i: 0.0, d: 0.0}